body {
  font-family: sans;
  display: flex;
  align-items: center;
  justify-content: center;
}

td:first-child {
  padding-right: 5px;
  width: 100px;
}

a:link, a:visited {
  color: blue;
  text-decoration: none;
}

h1 > a:link, h1 > a:visited {
  color: black;
}

h1, h2, p.notice {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  margin: 5px;
  padding: 5px;
  background-color: #eee;
}

p {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.status {
  font-style: italic;
}
