{% load static %}
<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'varer/style.css' %}" rel="stylesheet">
    <title>Opret ny varer</title>
  </head>
  <body>
    <form action="{% url 'varer:ny_opret' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <legend><h1>Tilføj vare</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <label for="varenavn_text">Navn</label><br>
        <input type="text" name="varenavn_text"><br><br>

        <label for="vare_image">Tag et foto af varen</label><br>
        <input type="file" name="vare_image" accept="image/*" capture="environment"><br><br>
        
        <label for="udløb_date">Udløbsdato (efterlad tom hvis du ikke ved det endnu)</label><br>
        <input type="date" name="udløb_date">

        <br><br><input type="submit" value="Opret vare">
      </fieldset>
    </form>
  </body>
</html>
